body{
    font-family:Arial, Helvetica, sans-serif; 
    max-width: 1080px; 
    padding-top: 20px;
    margin: 0 auto !important; 
	float: none !important; 
}

h1{
    display:flex; 
    justify-content:center; 
    padding:10px
}

input{
    margin: 10px;
}

.grid-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns:auto auto;    
}

.grid-item{
    display: flex;
    justify-content: center;
    align-items: baseline;
}