body{
    font-family:Arial, Helvetica, sans-serif; 
    max-width: 1080px; 
    padding-top: 20px;
    margin: 0 auto !important; 
	float: none !important; 
}

h1, #tree{
    display:flex; 
    justify-content:center; 
    padding:10px
}

#productDetails{
    padding: 10px;;
}

.node {
    cursor: pointer;
}

.node circle:hover{
    stroke-width: 5px;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
    cursor: pointer;
}


.link:hover{
    stroke-width: 5px;
    stroke: rgb(0, 0, 0);
}

.tooltip{
    background-color: white;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
}